[submodule "obsidian-notes"]
	path = obsidian-notes
	url = https://github.com/Player1041/obsidian-notes
[submodule "content/obsidian-notes"]
	path = content/obsidian-notes
	url = https://github.com/Player1041/obsidian-notes
[submodule "content"]
	path = content
	url = https://github.com/Player1041/content
